* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

.box {
    background: #fff;
    padding: 30px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0px 12px 18px rgba(0,0,0,0.2);
    text-align: center;
    animation: fadeIn 1.5s ease;
    flex-direction: column;
    display: flex;
}

.box h1 {
    margin-bottom: 20px;
    color: #333;
}

.box p {
    margin-bottom: 15px;
    font-size: 14px;
    color: #555;
}

.box form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
    text-align: left;
}

.box form input, 
.box form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.box form input:focus,
.box form textarea:focus {
    border-color: #4facfe;
    outline: none;
    box-shadow: 0 0 5px rgba(79,172,254,0.5);
}

.box form button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #4caf50;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.box form button:hover {
    background-color: rgb(18, 126, 14);
    transform: scale(1.05);
}

.voltar {
    display: inline-block;
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.voltar:hover {
    background-color: rgb(18, 126, 14);
    transform: scale(1.05);
}

@keyframes fadeIn {
    from { 
        opacity: 0; transform: translateY(-20px); 
    }
    to { 
        opacity: 1; transform: translateY(0); 
    }
}

/* Fundo escuro */
.modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Caixa do popup */
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  max-width: 350px;
  width: 90%;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  animation: popIn 0.2s ease-in-out;
}

@keyframes popIn {

    from { 
        transform: scale(0.8); opacity: 0; 
    }
    to { 
        transform: scale(1); opacity: 1; 
    }

}

.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.modal-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
}

#confirmYes {
  background: #e74c3c;
  color: white;
}

#confirmNo {
  background: #ccc;
  color: black;
}

#confirmYes:hover { 
    background: #c0392b; 
}
#confirmNo:hover { 
    background: #999; 
}

