 .form-edit {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 20px;
    margin: 30px auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.form-edit input, .form-edit textarea {
    width: 100%;
    padding: 10px 2px; 
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.form-edit button {
    background: #4caf50;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.form-edit button:hover {
    background: #45a049;
}